<div class="container">
  <center>
    <p><br /><%= link_to '<< Back to Search', search_path %></p>
  </center>
  <% @setlists.each do |setlist| %>
    <div class="well col-md-8 col-md-offset-2">
      <center>
        <h3><%= setlist.artist %></h3>
        <h5><strong>Venue: </strong><%= setlist.venue %></h5>
        <h5><strong>Location: </strong><%= setlist.location %></h5>
        <h5><strong>Date: </strong><%= setlist.date %></h5>
      </center>
      <% unless setlist.songs.blank? %>
        <div class="well col-md-8 col-md-offset-2">
          <p>
            <% setlist.songs.each_with_index do |song, index| %>
              <strong><%= index + 1 %>.</strong> <%= song %><br>
            <% end %>
          </p>
          <center>
            <%= button_to 'Create Playlist', {:controller=>"playlists", :action=>"create", :playlist_name=>"#{setlist.artist} at #{setlist.venue} (#{setlist.date})", :artist=>setlist.artist, :songs=>setlist.songs}  %>
          </center>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
